{
  "root": true,
  "extends": ["@neohelden"],
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
  },
  "plugins": [
  ]
}
